.navbar{
    text-align: center;
    background-color: #c48b00;
    height:50px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    line-height: 45px;
}

a{
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}