<div class="row home-row">
  <div class="col-md-6 col-xs-12 home-content">
    <h1 class="page-header">Welcome!</h1>
    <p>Welcome to DonaldPls, your one-stop shop for anything satirically related to fuhrer - erm...- President Donald
      Trump. Whether you want to learn how to speak brke our incoming leader, or launch his head at a mound of bricks, this
      site is for you! Look out for more things to come!
    </p>
  </div>
  <div class="col-md-6 col-xs-12 home-content">
    <h1 class="page-header">Things to Come...</h1>
      - Add more levels to WallBreaker
      <br>- Feed more text to SpeechGenerator to get better text
      <br>- Make more funny games

  </div>

</div>
